.timer-display {
  margin: 2rem auto;
  width: 50%;
  border-radius: 1rem;
  background: #bcbab8;
  box-shadow: 5px 5px #625757; }

.time-value {
  margin: 2rem auto;
  font-size: 8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 3px 3px #f2f7ff; }

.break {
  opacity: 0.1;
  text-shadow: none; }
