$font-main: Arial, sans-serif;
$font-color: rgb(92, 70, 75);
$main-background: #84a1be;

.App {
  margin:0;
  padding: 0;
  background: $main-background;
  height: 100vh;
  text-align: center;
  overflow: auto;
}

